html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* reset CSS end */



body{
    background-color: black;
    
}

.pic{
    display: flex;
    justify-content: center;
}

.layout{
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

* {
    font-family: "Roboto",serif;
}
:root {
    --item-card-width: 250px;
    --border-radius-card: 5px;
    --background-color1: #FFFFFF;
    --background-color2: #FFD100;
    --font-weght-text: 500;
    --font-size-text-primary: clamp(0.8rem, 1.5rem, 2rem);
    --font-weght-text-secondary: 400;
    --font-size-text-secondary: clamp(0.5rem, 1rem, 1.5rem);
    --font-color-pr: black;
    --font-color-sec: gray;
    --pic-card-size-w: min(100%, 350px);
    --pic-card-size-h: min(100%, 180px);
    --pic-size-w: min(90%, 170px);
    --pic-size-h: min(100%, 200px);
}

.bg{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    border: 1px solid #000;
    max-width: var(--item-card-width);
    border-radius: 5px 5px 5px 85px;
    background-color: var(--background-color1);
    padding: 20px;
    position: relative;
}

.bg2{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    border: 1px solid #000;
    max-width: var(--item-card-width);
    position: relative;
    border-radius: 5px 5px 5px 88px;
    background-color: var(--background-color2);
    background: linear-gradient(0deg, rgba(255, 209, 0, 1) 80%, rgba(255, 255, 255, 1) 100%);
    padding: 20px;
}

.common-card{
    margin: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket{
    width: 4rem;
    height: 4rem;
    display: flex;
    position: absolute;
    bottom: 1px;
    left: 2px;
    border-top-right-radius: 10px;
    background-color: #000;
    
}


.basket:before {
    content: '';
    display: block;
    position: absolute;
    left: -12px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: black;
}

.basket:after {
    content: '';
    display: block;
    position: absolute;
    left: 55px;
    bottom: 0%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: black ;
    border-top-right-radius: 100px;
}

.shop-img{
    margin: auto;
}




.info{
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.primary-text{
    font-weight: var(--font-weght-text);
    font-size: var(--font-size-text-primary);
    color: var(--font-color-pr);
    padding-bottom: 10px;
    line-height: 28px;
}

.secondary-text{
    font-size: var(--font-size-text-secondary);
    font-weight: var(--font-weght-text-secondary);
    color: var(--font-color-sec);
}

.pic1{
    width: var(--pic-size-w);
    height: var(--pic-size-h);
}

.sale1{
    width: min (30%, 86px);
    height: min(30%, 86px);
    position: absolute;
    left: -25px;
    top: -25px;
}

.price{
text-align: end;
margin-top: 30px;
}

.over-price{
    font-size: 0.9rem;
    text-decoration: line-through;
font-weight: 500;
color: gray;
}

.sale-price{
    font-size: 2.4rem;
    color: #941B0C;
    font-weight: 500;
}